In [2]:
import pandas as pd
from faker import Faker

In [3]:
fake = Faker("fr_FR")

In [4]:
def input_data(x):
    
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i, "nom"] = fake.name()
        data.loc[i, "data_naissance"] = fake.date_of_birth()
        data.loc[i, "email"] = fake.email()
        data.loc[i, "phone"] = fake.phone_number()
        data.loc[i, "pays"] = fake.country()
        data.loc[i, "ville"] = fake.city()
        data.loc[i, "adresse"] = fake.address()
        data.loc[i, "longitude"] = fake.longitude()
        data.loc[i, "latitude"] = fake.latitude()
        data.loc[i, "job"] = fake.job()
    return data

In [5]:
df = input_data(500)

In [6]:
df.head()

,nom,data_naissance,email,phone,pays,ville,adresse,longitude,latitude,job
0,Roger de Guyot,1977-11-30,elisabeth40@example.org,+33 (0)2 34 32 59 05,Cocos (Îles),Durand-les-Bains,"9, rue Barbier\n06672 Leleu-sur-Bodin",-51.249878,-36.156219,électromécanicien en remontées mécaniques
1,Henriette Ollivier,2011-12-24,marianne61@example.net,0450877461,Israël,Le Goff,rue Jacquet\n58868 Légernec,-165.006800,82.5079995,technicien radioprotection
2,Corinne-Madeleine Tanguy,2015-10-23,zmendes@example.com,0380154908,Japon,Guichard-sur-Letellier,"386, rue de Dupré\n88338 Sainte Marcelle",-29.917291,-57.729458,orthodontiste
3,Alain Pires,1971-08-15,fontainebernard@example.com,04 65 59 12 38,Colombie,Dupont,"1, chemin Gomes\n79428 Dupont-sur-Menard",-85.701108,-83.2896085,technicien en lignes haute tension
4,Caroline Gaudin,1925-10-23,goncalvesbenjamin@example.com,02 46 93 09 01,Sainte Hélène,DupréVille,"4, avenue de Vincent\n63815 Vaillant",137.331840,27.2748455,diététicien

In [7]:
df.shape

(500, 10)

In [8]:
df.tail()

,nom,data_naissance,email,phone,pays,ville,adresse,longitude,latitude,job
495,Guy Allain,1926-05-29,augustinmonnier@example.net,+33 3 27 41 40 64,Cayman (Îles),Saint Astrid,"891, avenue Anouk Fernandes\n42747 Allain-sur-Mer",-86.049378,38.407941,opticien-lunetier
496,Véronique Couturier,1953-11-25,stephanie33@example.com,+33 (0)4 67 77 95 89,Kazakhstan,Lopesdan,"66, boulevard de Garnier\n69208 Besson-sur-Rou...",-142.203233,-2.9776345,miroitier
497,Maryse Le Fournier,2022-10-13,guillaumeguy@example.org,03 68 10 82 63,Honduras,Hubert,"26, rue Lacombe\n59567 Sainte Pauletteboeuf",146.356242,26.5512505,webmestre
498,Luce de la Leleu,1963-02-25,lberthelot@example.net,04 72 41 18 94,Jamaïque,Perrot,"95, chemin Anne Berger\n48867 Garnier",150.590939,49.105684,art-thérapeute
499,Timothée Bonnin,2017-06-20,emileleclercq@example.com,+33 3 62 85 61 32,Botswana,Sainte Williamdan,"860, chemin Dominique Jourdan\n36624 Noël-sur-...",-0.190205,-9.8017565,ingénieur en construction automobile

In [9]:
df.to_csv("employes.csv")